<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.campussecurity.app">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 个推需要 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Transparent">
        <!--闪屏-->
        <activity
            android:name=".login.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!--登录-->
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <!--巡逻任务列表-->
        <activity
            android:name=".patrol.PatrolListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <!--巡逻任务详情-->
        <activity
            android:name=".patrol.PatrolContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <!--安全检查-->
        <activity
            android:name=".securitycheck.SecurityCheckListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <!--系统消息-->
        <activity
            android:name=".message.SystemMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--历史纪录-->
        <activity
            android:name=".record.HistoryRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--安全检查详情-->
        <activity
            android:name=".securitycheck.SecurityCheckDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />

        <!--安保人列表-->
        <activity
            android:name=".securitycheck.ProcessorListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--添加安全任务-->
        <activity
            android:name=".securitycheck.AddSecurityCheckActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />


        <!--图片选择界面-->
        <activity
            android:name="com.picker.view.activity.PhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!--单张图片预览界面-->
        <activity
            android:name="com.picker.view.activity.PicturePreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <!--图片选择预览界面-->
        <activity
            android:name="com.picker.view.activity.PhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

    </application>

</manifest>